body {
    padding: 0px;
    margin: 0px;
}

nav {
    width: 100%;
    background-color: orange;
    padding: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    padding-left: 200px;
}
.nav-links {
    display: flex;
    text-decoration: none;
    list-style: none;
    padding-right: 200px;
}

.nav-item a {
    text-decoration: none;
    padding-left: 20px;
}

.nav-item {
    text-decoration: none;
}

.hero {
    background-color: red;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 350px;
}

.hero-left {
    padding-left: 200px;
    padding-right: 100px;
}

.hero-right {
    padding-right: 200px;
}

h1 {
    padding: 0px;
    margin: 0px;
}